#App{
    padding-left: 100px;
    display:flex; 
    flex-direction:row;
    align-items: flex-start;
}








@media (max-width: 1000px) {
    #App{
        flex-direction: column;
    }

    #App main{
        padding-left:0px;
        margin-top: 20;
    }

    #App aside{
        padding-left:0px;

    }

}

